<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      background-color: #FFF0D1;
      font-family: 'Poppins', sans-serif;
    }

    header {
      position: static;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      z-index: 99;
    }

    .logo {
      font-size: 2rem;
      color: #3B3030;
      user-select: none;
    }

    .btnLogin-popup {
      width: 130px;
      height: 50px;
      background: transparent;
      border: 2px solid #3B3030;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1.1rem;
      color: #3B3030;
      font-weight: 500;
      margin-right: 20px;
      transition: .5s;
    }

    .btnLogin-popup:hover {
      background: #3B3030;
      color: #FFF0D1;
    }

    .uploadfile {
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;
      font-size: 3rem;
      font-style: italic;
    }

    .album {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 40px; 
    }

    .album li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      width: 320px; 
      height: 380px;
      border-radius: 2rem;
      background-color: transparent;
      border-color: #3B3030;
      border: 2px solid #3B3030;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      padding: 20px;
    }

    img {
      border-radius: 2rem;
      width: 70%;
      height: auto;
      object-fit: contain;
      display: block;
      max-width: 300px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    p {
      font-size: 2rem;
      font-family: Tahoma;
      text-align: center;
      color: rgb(252, 100, 100);
    }
  </style>
</head>

<body>
  <header>
    <h2 class="logo">MUSIC</h2>
    <nav>
      <form action="/profile" method="GET" style="display: inline;">
        <button class="btnLogin-popup">Profile</button>
      </form>
      <form action="/userFiles" method="GET" style="display: inline;">
        <button class="btnLogin-popup"> Uploads</button>
      </form>
      <form action="/explore" method="GET" style="display: inline;">
        <button class="btnLogin-popup">Explore</button>
      </form>
      <form action="/battles" method="GET" style="display: inline;">
        <button class="btnLogin-popup">battles</button>
      </form>
      <form action="/leaderboard" method="GET" style="display: inline;">
        <button class="btnLogin-popup">Leaderboard</button>
      </form>
      <form action="/logout" method="GET" style="display: inline;">
        <button class="btnLogin-popup">Logout</button>
      </form>

    </nav>
  </header>
</body>

<h2 class="uploadfile">All Uploaded Files</h2>
<% if (allFiles && allFiles.length> 0) { %>
  <div class="album">
    <% allFiles.forEach(file=> { %>
      <li>
        <!-- File download link -->
        <img src="/musicalbum5.png" alt="Downloaded Image">
        <span style='font-size:30px;'>&#127900;&#127901;&#127900;&#127901;&#127900;</span>
        <a href="<%= file.file_path %>" download>
          <%= file.file_name %>
        </a>

        <% if (file.file_name.endsWith('.mp3')) { %>
          <audio controls>
            <source src="<%= file.file_path %>" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
          <% } %>
      </li>
      <% }) %>
  </div>
  <% } else { %>
    <p>No files available for exploration.</p>
    <% } %>
      </body>

</html>